<div class="main">
  <h1>Welcome to our recipe box!</h1>
  <br>
  <span class="main-nav">
    <a href="/recipes">View all recipes</a>
    <br>
    <a href="/tags">Search by tag</a>
    <br>
    <a href="/ingredients">Search by ingredient</a>
    <br>
    <a href="/ratings">See highest rated</a>
  </span>
</div>
