<h1>Welcome to our recipe box!</h1>

<a href="/recipes">View our scrumptious recipes!</a>
<br>
<a href="/tags">Search by tag</a>
<br>
<a href="/ingredients">Search by ingredient</a>
<br>
<a href="/ratings">See highest rated</a>
