<div class="main">
  <h1>Highest Rated Recipes</h1>
  <% @recipes.each { |recipe| %>
    <ul>
      <% if recipe.rating==5 %>
      <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
      <% end %>
    </ul>
  <% } %>

  <hr>
  <span class="navigation"><a href="/">return home</a></span>
</div>
