<h1>Highest Rated Recipes</h1>


  <% @recipes.each() do |recipe| %>
    <ul>
      <% if recipe.rating==5 %>
      <li><a href="/recipes/<%= recipe.id() %>"><%= recipe.name() %></a></li>
  <% end %>
    </ul>
  <% end %>
<a href="/">Return Home</a>
