<div class="main">
  <h1>Recipes</h1>

  <% if @recipes.any? %>
    <ul>
      <% @recipes.each { |recipe| %>
        <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
      <% } %>
    </ul>
  <% else %>
    <p>There are currently no recipes<p>
  <% end %>

  <form action="/recipes/new" method="post">
    <label for="name">Recipe name</label>
    <input id="name" name="name" type="text">
    <br>
    <label for="ingredients">Recipe ingredients, separated by commas!</label>
    <input id="ingredients" name="ingredients" type="text">
    <br>
    <label for="instructions">Recipe instructions</label>
    <input id="instructions" name="instructions" type="text">
    <br>
    <button type="submit">Add Recipe</button>
  </form>

  <hr>
  <span class="navigation"><a href="/">return home</a></span>
</div>
