<div class="main">
  <h1>Tags</h1>

  <% if @tags.any? %>
    <ul>
      <% @tags.each { |tag| %>
        <li><a href="/tags/<%= tag.id %>"><%= tag.category %></a></li>
      <% } %>
    </ul>
  <% else %>
    <p>There are currently no tags<p>
  <% end %>

  <form action="/tags/new" method="post">
    <label for="category">Tag category</label>
    <input id="category" name="category" type="text">
    <button type="submit">Add Tag</button>
  </form>
  <hr>
  <span class="navigation"><a href="/">return home</a></span>
</div>
